html{
    overflow-x: hidden;
}
body{
    background-image: url(../image/bg.jpg);
}
.header{
    height: 30rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.py{
    padding: 10rem 0;
}
a{
    text-decoration: none !important;
}
.card{
    overflow: hidden;
    border: none;
}
.black{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, .5);
}
.bg{
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.bg2{
    background-size: cover;
    background-position: center center;
}
.title,.title span{
    font-weight: bold;
}
.lh{
    line-height: 2.5;
}

/* color */
.c1{
    color: #161616;
}
.c2{
    color: #ff0 !important;
}
.c3{
    color: #ffffff;
}
.c4{
    color: #808080;
}


/* bgc */
.bgc1{
    background-color: #161616;
}
.bgc2{
    background-color: #ff0;
}
.bgc3{
    background-color: #ffffff;
}
.bgc4{
    background-color: #7D7D7D;
}


/* navbar */
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 200;
    background: #000;
}
.navbar a{
    transition: 0.3s;
}
.navbarA{
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    transition: 0.3s;
    padding: 10px 50px;
}
.navbarA a{
    color: #fff;
}
.navbarB{
    transition: 0.3s;
}
.navbarB a{
    color: #fff;
}

.navbar-collapse a{
    background-position: bottom left;
    background-repeat: no-repeat;
    text-decoration: none;
}
.underline a{
    background-image: linear-gradient(#fff,#fff);
    background-size: 0 2px;
}
.underline a:hover{
    background-size: 100% 2px;
    transform: translateY(-10px);
}
.underline .yellow{
    background-image: linear-gradient(#ff0,#ff0);
    background-size: 0 2px;
}

.logo{
    /* height: 50px; */
    padding: 0 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 30px; 
}

/* modal */

/* banner */
.banner ,.banner .carousel-item{
    width: 100%;
    height: 105vh;
    overflow: hidden;
}
.banner .b1{
    background-image: url(../image/banner/01.jpg);
}
.banner .b2{
    background-image: url(../image/banner/02.jpg);
}
.banner .b3{
    background-image: url(../image/b3.jpg);
}

.banner .title{
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 100px;
    font-weight: bold;
    text-shadow: #391f1149 5px 5px 5px;
}
@media (max-width:767px) {
    .banner .title{
        top: 45%;
        left: 25%;
        font-size: 50px;
    }
    
}
.go{
    position: absolute;
    bottom: 20%;
    left: 49%;
    height: 50px;
    transition: 0.3s;
    z-index: 2;
}
@media (max-width:767px) {
    .go{
        left: 45%;
    }
}
.go:hover{
    transform: translateY(10px);
}


.font{
    z-index: 2;
}





.ok{
    animation: roll 1s;
}
@keyframes roll {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.other{
    position: fixed;
    bottom: 30px;
    left: 48%;
    z-index: 200;
    display: none;
}
.other .pic{
    height: 50px;
    margin: 10px;
    transition: 0.3s;
}
.other .pic:hover{
    transform: translateY(-10px);
}
.rollA{
    animation: roll linear infinite 10s;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 25%;
}